In [1]:
#disarium
number = int(input("Enter a number: "))
num_str = str(number)
length = len(num_str)
total = 0
for i in range(length):
    digit = int(num_str[i])
    total += digit ** (i + 1)
if total == number:
    print(f"{number} is a Disarium Number")
else:
    print(f"{number} is not a Disarium Number")

Enter a number: 175
175 is a Disarium Number

In [2]:
#harshad
number = int(input("Enter a number: "))
digit_sum = 0
for digit in str(number):
    digit_sum += int(digit)
if number % digit_sum == 0:
    print(f"{number} is a Harshad Number")
else:
    print(f"{number} is not a Harshad Number")

Enter a number: 6804
6804 is a Harshad Number

In [6]:
#armstrong
for number in range(1, 1001):
    total = 0
    temp = number
    while temp > 0:
        digit = temp % 10
        total += digit ** 3
        temp //= 10
    if total == number:
        print(number)

1
153
370
371
407

In [26]:
#X^n
X = float(input("Enter the base (X): "))
n = int(input("Enter the exponent (n): "))
result = X ** n
print(f"The value of {X} raised to the power of {n} is: {result}")

Enter the base (X): 81
Enter the exponent (n): 3
The value of 81.0 raised to the power of 3 is: 531441.0

In [8]:
#nCr
import math
n = int(input("Enter value of n: "))
r = int(input("Enter value of r: "))
nCr = math.factorial(n) // (math.factorial(r) * math.factorial(n - r))
print(f"The value of {n}C{r} is: {nCr}")

Enter value of n: 9
Enter value of r: 2
The value of 9C2 is: 36

In [11]:
#fibonacci
n = int(input("Enter the number of terms in the Fibonacci series: "))
x, y = 0, 1
print("Fibonacci Series:")
for i in range(n):
    print(x)
    x, y = y, x + y

Enter the number of terms in the Fibonacci series: 5
Fibonacci Series:
0
1
1
2
3

In [12]:
#sum of digit
numb = input("Enter a number: ")
sum_of_digits = 0
for digit in numb:
    sum_of_digits += int(digit)
print(f"The sum of the digits in {numb} is: {sum_of_digits}")

Enter a number: 5679
The sum of the digits in 5679 is: 27

In [13]:
#reverse number
number = input("Enter a number: ")
reversed_number = number[::-1]
print(f"The reverse of {number} is: {reversed_number}")

Enter a number: 3456
The reverse of 3456 is: 6543

In [22]:
#perfect number
num = int(input("Enter a number: "))
sum_of_divisors = 0
for i in range(1, num):
    if num % i == 0:
        sum_of_divisors += i
if sum_of_divisors == num:
    print(num, "is a Perfect Number")
else:
    print(num, "is not a Perfect Number")

Enter a number: 496
496 is a Perfect Number

In [24]:
#palindrome
num = input("Enter a number: ")
if num == num[::-1]:
    print(num, "is a Palindrome")
else:
    print(num, "is not a Palindrome")

Enter a number: 6777
6777 is not a Palindrome

In [23]:
n = 5
for i in range(1, n + 1):
    for j in range(1, i + 1):
        print(j, end=" ")
    print()
    print()

1

1 2

1 2 3

1 2 3 4

1 2 3 4 5

In [22]:
rows = 5
for i in range(1, rows + 1):
    for j in range(i):
        print(i, end=" ")
    print()
    print()

1

2 2

3 3 3

4 4 4 4

5 5 5 5 5

In [21]:
N = 5
for i in range(N):
    for j in range(i + 1):
        print(chr(65 + i), end=" ")  
    print()
    print()

A

B B

C C C

D D D D

E E E E E

In [48]:

rows = 5
for i in range(rows, 0, -1):
    for j in range(i):
        print("*", end=" ")
    print()

* * * * *
* * * *
* * *
* *
*

In [20]:
rows = 5
for i in range(rows, 0, -1):
    for j in range(1, i + 1):
        print(j, end=" ")
    print()
    print()

1 2 3 4 5

1 2 3 4

1 2 3

1 2

1

In [60]:

n = 5
for i in range(1, n + 1):
    print(" " * (n - i), end=" ")
    print("*" * (2 * i - 1))

     *
    ***
   *****
  *******
 *********

In [17]:

n = 5
for i in range(n, 0, -1):
    print(" " * (n - i), end="")
    print("*" * (2 * i - 1))

*********
 *******
  *****
   ***
    *

In [54]:
n = 5

for i in range(1, n+1):
    print(" " * (n - i), end="")
    for j in range(i, 2*i):
        print(f" {j}", end="")
    for j in range(2*i-2, i-1, -1):
        print(f" {j}", end="")
    print()
    print()

     1

    2 3 2

   3 4 5 4 3

  4 5 6 7 6 5 4

 5 6 7 8 9 8 7 6 5

In [13]:
n = 6
triangle = []
for i in range(n):
    row = [1] * (i + 1)
    for j in range(1, i):
        row[j] = triangle[i - 1][j - 1] + triangle[i - 1][j]
    triangle.append(row)
for row in triangle:
    print(" ".join(map(str, row)).center(2 * n))
    print()

     1

    1 1

   1 2 1

  1 3 3 1

 1 4 6 4 1

1 5 10 10 5 1

In [12]:
n = 4
num = 1
for i in range(1, n + 1):
    for j in range(i):
        print(num, end=" ")
        num += 1
    print()
    print()

1

2 3

4 5 6

7 8 9 10

In [11]:
n = 4 
for i in range(1, n + 1):
    if i % 2 != 0:
        out = 'A'
    else:
        out = 'B'
    
    for j in range(2 * i - 1):
        if j % 2 == 0:
            print('A', end=" ")
        else:
            print('B', end=" ")
    print()
    print()

A

A B A

A B A B A

A B A B A B A

In [24]:
n = 4 
for i in range(1, n + 1):
    if i % 2 != 0:
        out = '1'
    else:
        out = '0'
    
    for j in range(2 * i - 1):
        if j % 2 == 0:
            print('1', end=" ")
        else:
            print('0', end=" ")
    print()
    print()

1

1 0 1

1 0 1 0 1

1 0 1 0 1 0 1